@import url('https://fonts.googleapis.com/css2?family=Karla&family=Staatliches&display=swap');

:root {
    --headerbg: #929292;
    --headertext: #ffffffe7;
    --headertexthover: rgba(0, 0, 0, 0.8);
    --footer: #dbdbdb;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #F9FAF4;
    color: rgba(0, 0, 0, .6);
}

h1 {
    font-family: 'Staatliches', 'Arial', sans-serif;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Staatliches', 'Arial', sans-serif;
    letter-spacing: 3px;
    font-size: x-large;
}

h3 {
    font-family: 'Staatliches', 'Arial', sans-serif;
    letter-spacing: 3px;
    font-size: large;
}

/*-------------------- Header ---------------------*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    text-transform: uppercase;
    background-color: var(--headerbg);
    --bs-bg-opacity: 1;
    box-shadow: 5px 5px 5px #88888844;
}

.navbar-brand {
    font-family: 'Staatliches', 'Arial', sans-serif;
    letter-spacing: 2px;
}

.navbar-brand img {
    margin-left: 15px;
}

.navbar-brand .col-md-4 {
    float: right;
    margin-top: 5px;
    width: 150px;
    color: var(--headertext);
    transition: all 0.3s;
}

@media screen and (max-width:340px) {
    .navbar-brand .col-md-4 {
        font-size: 1rem;
    }

    .navbar-brand img {
        margin-left: auto;
    }
}

@media screen and (max-width:767px) {
    .navbar-brand .col-md-4 {
        width: 120px;
    }
}

.navbar-nav {
    margin-left: auto;
    text-align: right;
}

.navbar-nav li {
    padding: 0px 30px;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--headertext);
}

.navbar-dark .navbar-toggler {
    border:none;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
    box-shadow: none;
}




/*---------- Hover Effects ----------*/
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all 0.3s;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--headertexthover);
}

.navbar-brand .col-md-4:hover {
    color: var(--headertexthover);
    transition: all 0.3s;
}

/* underline */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
    float: right;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ffc94b;
    height: 3px;
    border-radius: 5px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

/*---------- End Hover Effects ----------*/

.content {
    margin-top: auto;
}

.content .container-fluid:not(#home) {
    margin-top: -90px;
}

/* Offset for navigation links */
.anchor::before {
    content: '';
    display: block;
    height: 75px;
    margin-top: -25px;
    visibility: hidden;
}

.hero {
    margin-top: 20px;
    padding-top: 60px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg"); */
    background-color: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#home {
    padding: 2rem 5rem 8rem 5rem;
}
.home-row {
    text-align: center;
    left: 50%;
    color: white;
}

video {
    margin-top:-20px;
    width: 100vw;
    height: 300px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(60%);
}

@media screen and (max-width:398px) {
    video {
        height: 400px;
    }
}

.gallery {
    margin-bottom: 10px;
}

.footer {
    background-color: var(--footer);
}

